@if(isLoading){
<p>Loading...</p>
}@else{
<div class="d-flex flex-row justify-content-between mb-3">
  <h3>User List</h3>
  <a class="btn btn-primary" routerLink="/user/add">Add User</a>
</div>
<table class="table">
  <thead class="table-light">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
      <th>Options</th>
    </tr>
  </thead>
  <tbody>
    @for(user of users; track user.id){
    <tr>
      <td>{{user.id}}</td>
      <td>{{user.name}}</td>
      <td>{{user.email}}</td>
      <td>
        <span class="badge text-bg-warning mx-1" role="button" (click)="onEdit(user.id)">Edit</span>
        <span class="badge text-bg-danger mx-1" role="button" (click)="onDelete(user.id)">Delete</span>
      </td>
    </tr>
    }
  </tbody>
</table>
}
